<header class="global-header">
  <div class="row">
    <div class="columns xsmall-12 small-12 medium-12 large-12">
      <a class="logo" href="/"><h1>Pakathon</h1></a>

      <nav></nav>
    </div>
  </div>
</header>


<h2 id="title">Title of the page goes here</h2>

{{link-to 'Cities' 'cities'}}

{{outlet}}
